.border-thin{border-width: 10px 20px 20px 20px;}
.border-solid{border-style: solid;}
.bg-color{background-color:rgb(47, 51, 54);}
.rounded-corners-all-around {
    border-radius: 50px;
}
.color-grey{
    color : rgb(110,118,125);
}
.color-hyper{
    color:rgb(29,161,242);
    border-bottom: solid;
}
#search-input::placeholder{
    padding-left: 24px;
    color : rgb(110,118,125);
    background-image: url("search.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.padding{
    padding-left: 13px;
    padding-right:  1px;
    padding-top: 3px;
    padding-bottom: 9px;
}
.padding-right{
    padding-right: 150px;
}
.padded-bottom{
    padding-bottom: 9px;
}
.dimension-input{
    width:600px;
    height:30px;
    padding-left: 10px;
}
.div-border{
    border-style: solid;
    border-width: thin;
    border-color: rgb(25, 28, 30);
}
.links{
    padding-top: 16px;
    padding-bottom: 16px;
}
.post-font{
    font-size: 13px;
    padding-left: 3px;
}
.links-border{
    margin-right: 40px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 21px;
    padding-top: 21px;
    text-decoration: none;
}

.margin-left {
    margin-left: 600px;
}
.margin-top{
    margin-top:30px;
}
.margin-right{
    margin-right: 620px;
}
.right{
    float:right;
    margin-right: 20px;
}
.height{
    height:105px;
}
.left{
    float: left;
}
.pic{
    border-radius: 20%;
    margin-right: 30px;
    margin-top:5px;
}
.po-re-lt {
    position: relative;
    left: 16px;
    top: 6px;
}
.rounded-circle{
    border-radius: 50%;
}
.rounded-corners-all-around {
    border-radius: 50px;
}

